.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#3a80d1,#73b4ff3f);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffca804f);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card-c {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card-c .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.text-green {
    color: #23c70efd;
    text-shadow: 2px 2px 15px #00000052;
    font-weight: 400 !important;
    text-decoration: underline ;
    text-underline-offset: 10px;
}

.text-green:hover {
    color: #28e60ffd;
    text-shadow: 2px 2px 15px #00000052;
    font-weight: 400 !important;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    cursor:pointer;
}

.type-text-color {
    margin-top: 15px !important;
    color: rgb(68, 68, 68);
    background: rgba(223, 223, 223, 0.178);
    border-radius: 5px;
    font-weight: bold;
}

.text-dark-c{
    color : #000000;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.5em;
}

.max-height{
    max-height: 45vh !important;
}